<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>index2.html</title>
</head>
<body>
    <header><h1></h1></header>
    <div class="content">
        <!-- The content will be dynamically inserted here by JavaScript -->
    </div>
   <div class="hamburger-menu" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="vertical-menu">
    <a href="{{ url_for('index') }}">Chat</a>
        <a href="{{ url_for('auth') }}">Login</a>
        <a href="{{ url_for('image_recognition') }}">Image</a>
        <a href="{{ url_for('nlp_text_analysis') }}">Text Analysis</a>
        <a href="{{ url_for('automated_decision_making') }}">Automations</a>
        <a href="{{ url_for('voice_recognition') }}">Voice</a>
        <a href="{{ url_for('predictive_analytics') }}">Analytics</a>
</div>

 <div class="content">
        <div class="message-thread"></div> <!-- Placeholder for messages -->
        <div class="chat-input-area">
          <input type="file" class="chat-upload-btn">
            <input type="text" class="chat-input" placeholder="Type a message...">
            <button class="chat-send-btn">Send</button>
        </div>
    </div>
  
  <!-- AI Model Selection Button -->     
    <title></title>
         <div class="selection-area">
         <div class="model-select">
            <label for="modelSelect">Choose a model:</label>
            <select id="modelSelect">
                <option value="gpt-neo-2.7b">GPT-Neo 2.7B (Hugging Face)</option>
                <option value="distilgpt2">DistilGPT2 (Hugging Face)</option>
                <option value="lc-gpt-j-6B">GPT-J-6B (LangChain)</option>
                <option value="lc-blenderbot-3B">BlenderBot 3B (LangChain)</option>
            </select>
        </div>
    </div>  
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>    
</html>
